@{
    ViewData["Title"] = "Home Page";
}


<div id="plates">
    <a class="plate" asp-area="" asp-controller="Projects" asp-action="Index">
        Projects
    </a>
    <a class="plate" asp-area="" asp-controller="Projects" asp-action="Index">
        что то другое
    </a>
</div>



