@{
    ViewData["Title"] = "Home Page";
}


<div id="plates">
    <a class="plate" asp-area="" asp-controller="Projects" asp-action="Index">
        Проекты
    </a>
    <a class="plate" asp-area="" asp-controller="Tasks" asp-action="Index">
        Задчи
    </a>
</div>



