@{
    ViewData["Title"] = "Home Page";
}

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Projects List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                The current button
            </button>
            <button type="button" class="list-group-item list-group-item-action">A second button item</button>
            <button type="button" class="list-group-item list-group-item-action">A third button item</button>
            <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
            <button type="button" class="btn btn-link"> <i class="bi bi-plus-square-dotted" style="font-size: 1.5rem;"></i> </button>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-center">
        <div class="col task-list-column">
            One of three columns
        </div>
        <div class="col task-list-column">
            One of three columns
        </div>
        <div class="col task-list-column">
            One of three columns
        </div>
    </div>
</div>

